@{
    Layout = null;
}
<html>
<head>
    <title>我的待辦事項</title>
</head>
<body>
    <div id="content"></div>
    <script src="~/js/react.min.js"></script>
    <script src="~/js/react-dom.min.js"></script>
    <script src="~/js/remarkable.min.js"></script>
    <script src="@Url.Content("~/js/jsx/todolist.jsx")"></script>
</body>
</html>